<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <p th:unless="${menus} and ${menus.size()}">No Menus :(</p>

        <ul class="list-group list-group-flush" th:each="menu : ${menus}">
            <li>
                <a th:href="@{'/menu/view/' + ${menu.menuId}}" th:text="${menu.name}" class="list-group-item"></a>
            </li>
        </ul>


    </body>

</html>