<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<div class="container">
<div class="header clearfix">
    <nav th:replace="fragments :: navigation"></nav>
</div>

<div class="jumbotron">
    <h1 th:text="${title}" class="display-3">Default Title</h1>
</div>

<p th:unless="${menus} and ${menus.size()}">No Menus :(</p>

<ul class="list-group list-group-flush"  th:each="menu : ${menus}">
    <li class="list-group-item">
        <a th:href="@{'/menu/view/' + ${menu.id}}" th:text="${menu.name}"></a>
    </li>
</ul>

<br />
<p><a class="nav-link" href="/menu/add">Add Menu</a></p>

</div>
</body>
</html>