<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<div class="container">
<div class="header clearfix">
    <nav th:replace="fragments :: navigation"></nav>
</div>

<div class="jumbotron">
    <h1 th:text="${title}" class="display-3">Default Title</h1>
</div>

<ul class="list-group list-group-flush">
    <li th:each="cheese : ${menu.cheeses}" th:text="${cheese.name}" class="list-group-item"></li>
</ul>

<br />
<p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>

</div>
</body>
</html>